@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  font-family: roboto;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.App {
  min-height: 100vh;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
}
.search-button {
  background: rgb(231, 203, 203);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipes div {
  transition: transform 0.5s ease-in-out;
  padding: 20px;
}
.recipes div:hover {
  transform: scale(1.05)
}