.App {
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 10px 0 0 10px;
}
.search-button {
  background: rgb(231, 203, 203);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
